@page
@using Newtonsoft.Json
@using P1cture.Image.ExtendMagic
@using System.Drawing
@using P1cture.Image.Globals
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    SessionExample.SetSession(HttpContext.Session);

    void Test() => Redirect("https://google.com");

}

@*@if (HttpContext.Session.Get(Key.Get).Length > 0)
    {
    }
    else
    {

    }*@
<partial name="StartPage" />

@*Тут ніхуя не трогаєш!
    Треба розмітка в StartPage,ProcessingPage,ResultPage
*@
<button onclick="@{Test();}">Test</button>