@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@*Жабственно стартова сторінка*@

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="row center">
            <h1 class="header" width="100%">Picture generator</h1>

            <div class="col s12 m8 offset-m2">
                <h4 class="light"></h4>
            </div>
        </div>
        <div class="row center">

            <div class="row center">
                <div class="input-field col s6">
                    <input id="first_name2" type="text" class="validate">
                    <label class="active" for="first_name2">Image name</label>
                </div>
                <a href="" id="download-button" class="btn-large waves-effect waves-light indigo darken-3" onclick="@{
                    btnStart_Click();
}">Make this</a>
            </div>
        </div>
    </div>
</div>
