@using P1cture.Image.ExtendMagic
@using P1cture.Image.Globals
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var k = SessionExample.GetSession.Keys.ToArray();

    var list = new List<string>();

    void Test()
    {
        SessionExample.GetSession.Set("programIsAlive", "true".ToByteArray());

        if (k.Length == 0)
        {
            for (var i = 0; i < k.Length - 1; i++)
            {
                var byteArray = SessionExample.GetSession.Get(k[i]);
                if (byteArray != null && byteArray.Length > 0)
                {
                    list.Add(byteArray.FromByteArray());
                }
            }
        }
    }

    string NoReport()
    {
        for (var i = 0; i < k.Length - 1; i++)
            SaveToSession(i);
        return "allIsOk";
    }
    void SaveToSession(int i)
    {
        SessionExample.GetSession.Set($"{i}", $"{DateTime.Now}:".ToByteArray());
    }


}
@if (list.Count > 0)
{
    <ul>
        @foreach (var i in list)
        {
            <li>@SessionExample.GetSession.Get(i)</li>
        }
    </ul>
}
else
{
    <label>@NoReport()</label>
}

<a href="#">self</a>
<button onclick="@{
    Test();
}">
    Test
</button>
@*Жабственно стартова сторінка*@


